{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserted Data</title>
    <link rel="stylesheet" href="{% static '/style.css'%}">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form action="savedResult" method="POST">
                {% csrf_token %}
                <div>
                    <h1 class="name">User: {{ name }}</h1>
                </div>
                <div class="textarea">
                    <textarea class="textarea" name="text" value="{{ text }}">{{ text }}</textarea>
                </div><br>
                <div class="container-buttons">
                    <button class="save" type="submit" name="Save" value='{{ userID }}'>Save</button>
                    <button class="delete" type="submit" name="Delete" value="{{ userID }}">Delete</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>